server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: ENotarySystem

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:enotary_db}
    username: ${DB_USERNAME:tuyenngduc}
    password: ${DB_PASSWORD:tuyen123}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
